<h1><%= @item.title %></h1>
 
  <%= link_to "Back", items_path %>
  <%= link_to "Edit", edit_item_path %>
  <%= link_to "Delete", item_path, method: :delete, data: { confirm: "Delete this category?" } %>
